.card_section{
    margin-top: 40px; 
}

.card_section-title{
    color: #000;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.card_element {
    position: relative;
  }

.card_items{
    display: flex; 
    flex-wrap: wrap;
    gap: 17px; 
    justify-content: center; 
    margin-top: 34px; 
}

.card_name{
    position: absolute;
    margin-left: 40%;
    top: 5%;
    padding: 5px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.6);
    background-color: white;
    font-family: "Cabinet Grotesk", Arial, sans-serif; 
    font-weight: 700; 
}

.card_image{
    width: 328px;
    height: 328px;
    border-radius: 20px;
    border: 0.5px solid; 
    
}