.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px 20px;
  font-size: 18px;
  font-family: "CabinetGrotesk-Medium", serif;
  font-weight: 600;
}

.header__logo{
  display: flex; 
  gap: 20px;
  align-items: center; 
}

.header__info-container{
  display: flex; 
  gap: 20px;
  align-items: center; 
}

.header__add-button {
  line-height: 24px;
  font-size: 18px;
  border: none;
  background: none;
  font-size: 18px;
  font-family: "CabinetGrotesk-Medium", serif;
  font-weight: 600;
}

.header__button:hover {
  cursor: pointer;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
}

.header__button {
  line-height: 24px;
  font-size: 18px;
  border: none;
  background: none;
  font-size: 18px;
  font-family: "CabinetGrotesk-Medium", serif;
  font-weight: 600;
}

.header__button:hover {
  cursor: pointer;
}

   